<!-- *** Note : Pemanggilan lib js sudah sesuai urutan *** -->
<script type="text/javascript" src="/static/js/pytavia-js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/tether.min.js"></script>
<script type="text/javascript" src="/static/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/lib/Chart.js/dist/Chart.bundle.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/app.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/pages_datatables.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/pdfmake.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/Chart.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/chartist.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/buttons.html5.min.js"></script>

<script type="text/javascript" src="/static/js/pytavia-js/custom/auto_logout.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/custom/jquery.simplePagination.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/jszip.min.js"></script>
<script type="text/javascript" src="/static/js/pytavia-js/vfs_fonts.js"></script>
