<div class="wrap-profile">
  <div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_logo"><img src="/static/images/jarvis_logo.svg"/></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="dshb-profile clearfix">
    <div class="profile_pic">
      <img src="/static/images/ghirish.png" alt="..." class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <h2>Ghirish Pokardas</h2>
    </div>
  </div>
</div>
<!-- /menu profile quick info -->
