<!-- jQuery -->
<script src="/static/js/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/static/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/static/js/lib/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/static/js/lib/nprogress/nprogress.js"></script>
<!-- ECharts -->
<script src="/static/js/lib/echarts/dist/echarts.min.js"></script>
<!-- jQuery custom content scroller -->
<script src="/static/js/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Canvas JS -->
<script src="/static/js/lib/canvasjs/canvasjs.min.js"></script>
<!-- morris.js -->
<script src="/static/js/lib/raphael/raphael.min.js"></script>
<script src="/static/js/lib/morris.js/morris.min.js"></script>

<!-- Chart JS -->
<script src="/static/js/lib/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="/static/js/lib/Chart.js/2.7.3/Chart.min.js"></script>
