<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a href="/user/dashboard"><i class="ic ic-overview"></i> Portfolio Overview</a> </li>
      <li><a><i class="ic ic-asset"></i>Asset Liability <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/user/asset_liability/cash_position">Cash Position</a></li>
          <li><a href="/user/asset_liability/duration_match">Duration Match</a></li>
        </ul>
      </li>
      <li><a href="page_404.html"><i class="ic ic-research"></i> Research</a> </li>
      <li><a title="Performance Measurment"><i class="ic ic-performance"></i> Performance Meas.. <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/user/performance_measure/time_series">Time Series</a></li>
          <li><a href="page_404.html">Detail View</a></li>
        </ul>
      </li>
      <li><a href="page_404.html"><i class="ic ic-portfolio"></i> Portfolio Construction</a> </li>
      <li><a href="page_404.html"><i class="ic ic-strategic"></i> Strategic Asset Allocation</a> </li>
      <li><a href="page_404.html"><i class="ic ic-stress"></i> Stress Test</a> </li>
    </ul>
  </div>
</div>
